*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
local.properties
keystore.properties
*.jks
*.keystore
.idea/
.kotlin/
2ff73480-d8cb-4470-87bf-5020f06e1411.png
stitch_jap_counter_ui_design/
